  @font-face {
    font-family: 'CairoRegular';
    src: url('./Fonts/Cairo/Cairo-Regular.ttf');
  }
  @font-face {
    font-family: 'CairoBold';
    src: url('./Fonts/Cairo/Cairo-Bold.ttf');
  }

  body{
    font-family: 'CairoRegular', sans-serif;
  }
